/* Estilos comuns a todas as páginas */
.navbar {
  background-color: #0d6efd; /* Cor azul */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-weight: 600;
  color: white; /* Cor branca para o texto */
}

.nav-link {
  color: white; /* Cor branca para os links */
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ffff !important; /* Cor azul escuro ao passar o mouse */
}

.container {
  padding: 20px;
}

.page-title {
  margin-bottom: 30px;
  color: #0d6efd;
}

.alert {
  border-radius: 8px;
  margin: 20px 0;
}

/* Estilos para os botões DataTables */
.dt-button {
  background-color: #3498db !important; /* Cor azul */
  color: white !important; /* Letras brancas */
  border: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.dt-button:hover {
  background-color: #2980b9 !important; /* Cor azul escuro */
  color: white !important; /* Letras brancas */
}
